<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Recensement WNG"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_config">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".LauncherActivity"
            android:label="Recensement WNG"
            android:exported="true"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://irkubuyadavid-sketch.github.io/adroid/" />

            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"\                android:resource="@color/colorPrimary" />

            <meta-data
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"\                android:resource="@color/colorPrimary" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE"\                android:resource="@drawable/splash" />

            <meta-data
                android:name="android.support.customtabs.trusted.SCREEN_ORIENTATION"\                android:value="portrait" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="irkubuyadavid-sketch.github.io"
                    android:pathPrefix="/adroid" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.google.androidbrowserhelper.trusted.FocusedTrustedWebActivity"
            android:exported="false" />

    </application>
</manifest>
